.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.filters {
    display: flex;
    min-height: 100%;
    width: 100%;
    gap: 0.4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.select {
    min-width: 160px;
    font-size: 12px;
}

.input {
    min-width: 160px;
    font-size: 12px;
    height: 2.4rem;
    padding-left: 0.5rem;
    border: 1px solid #0a0707;
    border-radius: 4px;
    outline: none;
}

.jobs {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.card {
    width: 100%;
    height: fit-content;
    max-width: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    border-radius: 20px;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    animation: scale 0.1s ease-in-out;
}

.cardSkeleton {
    width: 100%;
    height: 480px;
    max-width: 320px;
    background-color: #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    border-radius: 20px;
    animation: fade 1.5s infinite;
}

@keyframes fade {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

.companyInfo {
    width: 100%;
    height: fit-content;
    display: flex;
}

.logo {
    width: 4rem;
    height: 100%;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.jobDetail {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.overlay {
    display: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 33%, rgba(255, 255, 255, 0.6) 50%);
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    padding: 0.8rem;
    border-radius: 6px;
    border: none;
    background-color: rgb(85, 121, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
    /* font-weight: bold; */
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.inputWarpper {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
}

.label {
    position: absolute;
    top: -1rem;
    left: 0.4rem;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 420px) {
    .filters {
        flex-direction: row;
    }
    .select {
        min-width: 100%;
    }
    .input {
        min-width: 100%;
    }
    .container {
        padding: 1.2rem;
    }
}